body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 10px auto; /* Centering horizontally and leaving 10px margin at the top and bottom */
}

.otp-verification-form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.otp-verification-form h2 {
  text-align: center;
}

.otp-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2980b9;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 10px auto; /* Centering horizontally and leaving 10px margin at the top and bottom */
}

.otp-verification-form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.otp-verification-form h2 {
  text-align: center;
}

.otp-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2980b9;
}
