.card-otp-group {
 background: rgba(228, 191, 191, 0.8);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
  box-shadow: 5px 9px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.otp-succes-form h2 {
  margin-bottom: 20px;
}

.otp-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.btn {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* width: 100%; */
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .card-otp-group {
    width: 100%;
    max-width: none;
    padding: 15px;
  }
}

/* General Styles */
.card-deatils-group {
  background: rgba(228, 191, 191, 0.8);
  max-width: 500px;
  margin: auto;margin-top: 5%;
  padding: 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.basic-group-from {
  display: flex;
  flex-direction: column;
}

.image-upload-container {
  position: relative;
  text-align:right;
  margin: auto;
  margin-left: 50%;
  /* margin-top: 10%; */
  margin-bottom: -10%;
  /* justify-content: end; */
  /* margin-left: 20px; */
  padding: 20px;
}

.preview-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}


label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-image-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-check { 
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-check-input {
  margin-right: 10px;
}

.form-control, .form-control-merge {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* width: 100%; */
  box-sizing: border-box;
}

.btn-secondary {
  background-color: #6c757d;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card-deatils-group {
    padding: 15px;
  }

  .btn {
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .form-image-control, .form-control, .form-control-merge {
    padding: 6px;
  }

  h1 {
    font-size: 20px;
  }
}
